<form action="/projects" method="post">
  <div>
    <label for="name">Project Name</label>
    <input id="name" type="text" name="project[name]" />
  </div>
  <div>
    <label for="path">Project Path</label>
    <input id="path" type="text" name="project[path]" />
  </div>
  <div>
    <button type="submit">Create</button>
  </div>
</form>
